# Spring Boot specific
/target/
/build/
/.mvn/
mvnw
mvnw.cmd
*.iml

# IDE-specific files
.idea/
.project
.classpath
.settings/
*.sublime-workspace

# Logs
logs/
*.log

# Compiled class file
*.class

# Package Files
*.jar
*.war
*.ear
*.zip

# Gradle specific
.gradle/

# Eclipse specific
bin/

